@import "github_badge";

body {
	font-family: sans-serif;
	font-size: 11pt;

	> main {
		max-width: 800px;
		margin: 3em auto;
	}
}

h1 {
	text-shadow: 
		2px 2px #ef3550,
		4px 4px #f48fb1,
		6px 6px #7e57c2,
		8px 8px #2196f3,
		10px 10px #26c6da,
		12px 12px #43a047,
		14px 14px #eeff41,
		16px 16px #f9a825,
		18px 18px #ff5722;
}

h2 {
	font-size: 13pt;
	margin-top: 1.5em;
}

time {
	color: gray;
	font-size: 10pt;
	font-weight: normal;
	display: block;
}

%indented {
	margin-left: 3em;
	margin-top: 2em;
	margin-bottom: 2em;
}

blockquote {
	@extend %indented;
}

pre > code {
	display: block;
	white-space: pre-wrap;
	@extend %indented;
}

table {
	width: 100%;

	* {
		text-align: left;
	}

	th {
		background-color: #ddd;
	}

	th, td {
		padding: 0.25em;
		
		&:first-of-type {
			width: 20%;
		}

		&:last-of-type {
			width: 30%;
		}
	}
}

@include github_badge( $color:#A00, $rotate:45deg );
